.titl{
    width: 100%;
    font-size: 1.7cm;
    text-align: center;
    font-style: initial;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right{
    width: 100%;
    margin-top: 10px;
    height: 50pw;
}
.lab{
    margin-top: 10px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    background-color: beige;
}